/* InfiniteImageSlider.css */
@media (min-width: 768px) {
    .slick-slider {
      display: flex;
      flex-wrap: nowrap;
    }
    .slick-slide {
      flex: 0 0 auto;
    }
  }
  .image-container {
    width: 150px; /* Set the desired width */
    height: 300px; /* Set the desired height to create a square */
     /* Adjust the border radius as needed */
    overflow: hidden; /* Ensure the image stays within the container */
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #676767,
            inset -5px -5px 10px #ffffff;
    
    
    
  }
  
  .image-container .MuiCard-root {
    width: 100%; /* Ensure the card takes up the entire container */
    height: 100%; /* Ensure the card takes up the entire container */
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #676767,
            inset -5px -5px 10px #ffffff; 
    overflow: hidden;
    /* Add a box shadow to the card for the 3D effect */
    
  }
  .image-container img {
    width: 100%; /* Ensure the image takes up the entire container */
    height: 100%; /* Ensure the image takes up the entire container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #676767,
                inset -5px -5px 10px #ffffff; /* Apply border radius to the image */
    
  }
  

  